{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
 
    <div class="container">
        <h1 class="my-5 text-center">{{article.title}}</h1>

        <p class="text-left">écris le:
             {{ article.createdAt | date('d/m/Y à H:i')}}
        </p>

        <p class="my-2 border p-2">{{article.intro}}</p>

        <img src="{{article.image}}" alt="photo de l'article {{article.title}}">

        <div class="my-5">
            <hr>
             <p> {{article.content | raw}}</p>
            <hr>
        </div>

     </div>

{% endblock %}